{% extends 'admin_home.html' %}
{% load static %}

{% block content %}
<body>
    <div class="container">
        <h1>Add Category</h1>
        
        <form method="POST" action="{% url 'add_category' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control"  >
             </div>

             <div class="form-row field-category_image">
                    
                <div>
                    <label class="required" for="id_product_image">Category image:</label>                        
                    <input type="file" name="image" accept="image/*" id="id_product_image">
    
                </div>
            
                
        </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form> 
    </div>
</body>
{% endblock content %}

    


{% comment %} 
    <form method="POST" action="{% url 'add_category' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="category-name">category Name</label>
            {% comment %} <input type="text" name="category_name" class="form-control" value="{{ category.name }}"> {% endcomment %}
        {% comment %} </div>
        <div>Category image:</div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form> {% endcomment %} 