<!DOCTYPE html>
<html>
<head>
    <title>add Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Additional custom styles */
        body {
            padding: 20px;
        }
        .status-active {
            color: green;
        }
        .status-blocked {
            color: red;
        }
    </style>
</head>

    <form method="POST" action="{% url 'add_product' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control"  >
         </div>
         <div class="form-group">
            <label for="brand">Brand</label>
            <select name="brand" class="form-control">
                {% for b in brands %}
                <option>{{ b.brand }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" class="form-control">
                {% for b in category %}
                <option>{{ b.name }}</option>
                {% endfor %}
            </select>
        </div>
         <div class="form-group">
            <label for="category-name">Description</label>
            <input type="text" name = "description" class ="form-control" >
         </div>
         <div class="form-row field-category_image">
                
            <div>

                    <label class="required" for="id_product_image">Product image:</label>
                    
                        <input type="file" name="image" accept="image/*" id="id_product_image">

            </div>
        
    </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form> 
    </html>