{% extends 'product_detail.html' %}
{% load static %}
{% block tittle%} cart {% endblock tittle %}

{% block main-content %}
<div class="container mr-10 mt-4">
    <div class="col-lg-10  mb-5">        
        <table class="table table-bordered text-center mb-2" >
            <thead class="bg-secondary text-dark">
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for item in cart %}
                <tr>
                    <td class="align-middle">
                        <img src="{{ item.variant.image1.url }}"  alt="" class="" style="height: 100px; width: 100px;">

                    </td>
                    {% comment %} <td class="align-middle">
                        <p class="card-text">Price: {{ item.variant.price }}</p>
                    </td> {% endcomment %}


                    <td>
                        {% if item.variant.Product.offer %}
                            <s>₹ {{ item.variant.price }}</s> ₹ {{ item.item_price }}
                        {% else %}
                            ₹ {{ item.variant.price }}
                        {% endif %}
                    </td>
                    
                    
                    <td class="align-middle">
                      
                            <div class="p-3 ml-4 align-middle">
                                <a href="{% url 'cart_dec' item.id %}" class="mr-2" style="color: black;">
                                    <i class="fa fa-minus"></i>
                                </a>
        
                            {{item.quantity}}
                          
                                <a href="{% url 'cart_inc' item.id %}" class="ml-2" style="color: black;">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                      
                    </td>
                    
                    <td class="align-middle">
                        <a href="{% url 'cart_remove' item.id %}" class="btn btn-danger" onclick="return confirm('Do you want to remove this product from the cart?');">
                            <i class="fa fa-times"></i>
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>


          

<div class="container pt-0 sm-0">
    <div class="card border-secondary col-sm-12 col-md-6 col-lg-7">
        <div class="card-header bg-secondary border-0">
            <h5 class="font-weight-semi-bold m-0">Cart Summary</h5>
         </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3 pt-1">
                <h6 class="font-weight-medium">Product price</h6>
                <h6 class="font-weight-medium">₹ {{amount}}</h6>
            </div>
            <div class="d-flex justify-content-between mb-3 pt-1">
                <h6 class="font-weight-medium">Quantity</h6>
                <h6 class="font-weight-medium">{{quantityobj}}</h6>
            </div>
            <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Shipping</h6>
                <h6 class="font-weight-medium">₹40</h6>
            </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">Total</h5>
                <h5 class="font-weight-bold">{{total}}</h5>
            </div>
            <div class="d-grid">
                <a href="{% url 'checkout' %}" class="btn btn-dark" style="padding: 5px 10px; font-size: 12px;">Place order</a>
            </div>
            
        </div>
    </div>
</div>

    
<aside class="col-md-3" style="margin-left: 60%; margin-top: -20%; width: 20%;">
    <div class="card mb-6">
        <div class="card-body" style="height: 30vh;">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Have a coupon? </label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="coupon" placeholder="coupon">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</aside>
{% endblock main-content %}

