{% extends 'admin_home.html' %}

{% load static %}
    <title>USER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
        /* Additional custom styles */
        body {
            padding: 20px;
        }
        .status-active {
            color: green;
        }
        .status-blocked {
            color: red;
        }
    </style>
    {% block search %}


    {% endblock search %}

    {% block content %}
    <div class="container">
        <h1>Admin Users</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td class="{% if user.status %}status-active{% else %}status-blocked{% endif %}">
                        {% if user.status %}
                            Active
                        {% else %}
                            Blocked
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'block_unblock_user' user.id %}">

                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm {% if user.status %}btn-danger{% else %}btn-success{% endif %}">
                                {% if user.status %}
                                    Block
                                {% else %}
                                    Unblock
                                {% endif %}
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if users.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
    
                {% for page_num in users.paginator.page_range %}
                <li class="page-item {% if users.number == page_num %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
    
                {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        
    </div>
    {% endblock content %}
