{% extends 'admin_home.html' %}
{% load static %}
    <title>COLOR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        .status-active {
            color: green;
        }
        .status-blocked {
            color: red;
        }
    </style>

{% block content %}
<div class="row mt-5"></div>
    <div class="container">
        <h1>Color</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Color</th>
                    <td>
                        <a href="{% url 'edit_color' color.id %}" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
                <a href="{% url 'color_adminadd' %}" class="btn btn-sm btn-primary">ADD</a>
                <br>
            </thead>
            <tbody>
            
            <tbody>
                {% for c in color %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.color }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock content %}