{% extends 'admin_home.html' %}
{% load static %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row justify-content-center border mt-2">
        <label for="date-input">Start Date:</label>
        <input class="form-control" type="date" id="date-input" name="startdate" value="{{ startdate }}">
        <label for="date-input">End Date:</label>
        <input class="form-control" type="date" id="date-input" name="enddate" value="{{ enddate }}">
        <div class="text-right">
            <button class="btn btn-outline-primary mt-4" type="submit">Apply</button>
        </div>
    </div>
</form>

<div class="container" style="margin-left: 300px;">
    <h2>Order Statistics</h2>
    <div class="row mt-5"></div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="pie-chart"></canvas>
        </div>
        <div class="col-md-6">
            <h4>Top Product: {{ top_product }}</h4>
            <h4>Top Returned Product: {{ top_returned_product }}</h4>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var pieData = {
            labels: [{% for key in orderdict.keys %}'{{ key }}',{% endfor %}],
            datasets: [{
                data: [{% for value in orderdict.values %}{{ value }},{% endfor %}],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#33FF57', '#C7D3FF'],
                borderColor: ['#FF6384', '#36A2EB', '#FFCE56', '#33FF57', '#C7D3FF'],
                borderWidth: 1
            }]
        };

        var pieOptions = {
            responsive: true,
            legend: {
                position: 'bottom'
            }
        };

        var ctx = document.getElementById('pie-chart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: pieData,
            options: pieOptions
        });
    });
</script>

{% endblock content %}
