{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
</head>
<body>
    <div class="container">
        <h1>Edit order</h1>
        <form method="POST" >
            {% csrf_token %}
            <div class="form-group">
                <h5>Choose Order Status: </h5>
                
                <select name="order_status">
                    {% for status_choice in order_status_choices %}
                    <option value="{{ status_choice.1 }}" {% if status_choice.1 == order.order_status %}selected{% endif %}>
                        {{ status_choice.1 }}
                    </option>
                    {% endfor %}
                </select>   
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>

{% endblock content %}
