{% extends 'admin_home.html' %}
{% load static %}

{% block content %}

<form method="POST" action="{% url 'edit_variant' variant_obj.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="name">Variant</label>
        <input type="text" name="variant" value="{{ variant_obj.variant }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="product">Product</label>
        <select name="product" class="form-control">
            {% for p in products %}
            <option>{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="color">Color</label>
        <select name="color" class="form-control">
            {% for c in colors %}
            <option {% if c.color == variant_obj.Color.color %}selected{% endif %} >{{ c.color }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="size">Size</label>
        <select name="size" class="form-control">
            {% for s in sizes %}
            <option {% if s.size == variant_obj.Size.size %}selected{% endif %}>{{ s.size }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" value="{{ variant_obj.quantity }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" name="price" value="{{ variant_obj.price }}" class="form-control">
    </div>

    <div class="form-row field-category_image">
        <div>
            <label class="required" for="image1">Product image 1:</label>
            <input type="file" name="image1" accept="image/*" id="image1">
        </div>
    </div>


    <div>
        <label>Images</label>
        <br>
      
        <img src="{{ variant_obj.image1.url }}" value="{{product.image.url}}" width="80" height="80" name="image">
    </div>
    

    <button type="submit" class="btn btn-primary">Save</button>
</form> 

{% endblock content %}




