{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
<body>
    
    <div class="container">
        <form class="p-5" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
    
            <div class="form-group">
                <label for="productname">Name</label>
                <input value="{{ product.name }}" name="name" type="text" placeholder="Product Name">
            </div>
    
            <span class="error-message">{{ error_message.name }}</span>

            <div class="form-group">
                <label for="brand">Brand</label>
                <select id="dropdown" name="brand">
                    {% for item in brandobjs %}
                        <option value="{{ item.brand }}">{{ item.brand }}</option>
                    {% endfor %}
                </select> 
            </div>
    
            <span class="error-message">{{ error_message.brand }}</span>
    
            <div class="form-group">
                <label for="inputPassword">Category</label>
                <select id="dropdown" name="category">
                    {% for item in categoryobjs %}
                        <option value="{{ item.name }}">{{ item.name }}</option>
                    {% endfor %}
                </select> 
                
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input value="{{ product.description }}" name="description" type="text" placeholder="Product description">
            </div>
    
            <span class="error-message">{{ error_message.description }}</span>

            <div>
                <label>Images</label>
                <br>
              
                <img src="{{ product.image.url }}" value="{{product.image.url}}" alt="{{ image.product.name }}" width="80" height="80" name="image">
            </div>
            
  
            <div class="form-group mt-2">
                <label for="newImages">Add New Images</label>
                <input type="file" name="image" multiple>
            </div>

            <span class="error-message">{{ error_message.category }}</span>
    
            <button type="submit" class="btn btn-primary mt-4">Update</button>
        </form> 
    </div>

    <script defer src="https://cdn.crop.guide/loader/l.js?c=ZXDVHR"></script>
</body>

{% endblock content %}


