{% extends 'user_home.html' %}
{% load static %}
{% block tittle%} home_before {% endblock tittle %}



<div class="text-center mb-4">
    <br>
    <br>
    <h2 class="section-title px-5"><span class="px-2">Browse By Category</span></h2>
</div>

<div class="container-fluid pt-5">
<div class="row px-xl-5 pb-3">
    {% for category in categories %}
    <div class="col-lg-3 col-md-3 pb-3">
        <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
            <p class="text-right">{{ category.product_count }}</p>
            <a href="{% url 'user_product' category.id %}" class="cat-img position-relative overflow-hidden mb-3" style="height: 300px; width: 300px;">
                <img class="img-fluid" src="{{ category.category_image.url }}" alt="" style="height: 100%; width: 100%; object-fit: cover;">
            </a>
            <h5 class="font-weight-semi-bold m-0">{{ category.name }}</h5>
        </div>
    </div>
    {% endfor %}
</div>
</div>



{% block content%}
<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="img/offer-1.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="img/offer-2.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->


<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Best Selling Brands</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for product in best_selling_products %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{ product.name }}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>1000.00rs </h6><h6 class="text-muted ml-2"><del>1230.00 rs</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!-- Wardrobe Essentials -->
    <div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Wardrobe Essentials</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for product in wardrobe_essentials %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{ product.name }}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>3500{{ product.price }}</h6><h6 class="text-muted ml-2">3000{{ variant.price }}</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-eye text-primary mr-1"></i>View Detail
                    </a>
                    {% comment %} <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                    </a> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

        


{% endblock content%}
<br>
<br>
