
{% extends 'user_product.html' %}
{% load static %}
    <title>Orders</title>
    {% block main-content %}
    <div class="container">
        <h1>Order History</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>order</th>
                    <th>variant</th>
                    <th>price</th>
                    <th>quantity </th>
                    <th>Total</th> 
                   
                </tr>
            </thead>
            <tbody>
                {% for order in delivered_orders %}
                <tr>
                    <td>{{ item.order.id }}</td>
                    <td>{{ item.variant }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.date_ordered }}</td>
                    <td>{{item.total}}</td>
                   {% comment %} <td><a href="{% url 'order_items' order.id %}">view order details</a></td> {% endcomment %}
                   <h2>Order ID: {{ order.id }}</h2>
                   <p>Order Date: {{ order.date_ordered }}</p>
                   <ul>
                       {% for item in orderobj %}
                           <li>
                               <strong>{{ item.order.date_ordered }}</strong> - Quantity: {{ item.quantity }} - Price: ${{ item.price }}
                           </li>
                       {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock main-content %}