{% extends 'user_product.html' %}
{% load static %}
{% block title %}Products Detail{% endblock title %}

{% block main-content %}
<div class="container">
  <div class="row">
    <div class="row mt-5"></div>
    <div class="col-md-6">
      <div class="d-flex flex-column">
        {% for variant in variants %}
        <div class="variant-item">
          <a href="{% url 'variant_detail' product_id=product.id variant_id=variant.id %}">
            <img src="{{ variant.image1.url }}" alt="" class="img-fluid">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h1>{{ product.name }}</h1>
        <p>Brand: {{ product.brand }}</p>
        <div class="d-flex mb-3">
          <p class="text-dark font-weight-medium mb-0 mr-3">Size:</p>
          <div class="sizes-container">
            {% for size in sizes %}
            <div class="size">{{ size }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="d-flex mb-3">
          <p class="text-dark font-weight-medium mb-0 mr-3">Color:</p>
          <div class="colors-container">
            {% for color in colors %}
            <span class="badge badge-primary">{{ color }}</span>
            {% endfor %}
          </div>
        </div>
        <p>Category: {{ product.category }}</p>
        <p>Description: {{ product.description }}</p>
        <div class="d-flex mb-3">
          <div class="text-primary mr-2">
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star-half-alt"></small>
            <small class="far fa-star"></small>
          </div>
          <small class="pt-1">(50 Reviews)</small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}

{% block content %}{% endblock content %}
