<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        .status-active {
            color: green;
        }
        .status-blocked {
            color: red;
        }    
        .product-image {
                max-width: 100px;
                max-height: 100px;
            }     
    </style>
</head>
<body>
    <div class="container">
        <h1>Products</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <td>image</td>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>variant </th>
                </tr>
            </thead>
            <tbody>
                {% for product in prdts %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td><img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="product-image"></td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.color }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete_product' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
