{% extends 'user_product.html' %}
{% load static %}
{% block title %}Products Detail{% endblock title %}


{% block main-content %}
<div class="container-fluid pt-5">
      <div class="row px-xl-5">
          <!-- Shop Sidebar Start -->
      <div class="col-lg-2 col-md-12">
      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Filter by Color</h5>
    
        <form method="post">
          {% csrf_token %}
          <!-- Color Start -->
          {% for c in colobj %}
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-{{ c.id }}" name="colors" value="{{ c.id }}">
            <label class="custom-control-label" for="color-{{ c.id }}">{{ c.color }}</label>
          </div>
          {% endfor %}
          <button type="submit" hidden>Submit</button> 
        </form>
      </div>

      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Filter by Size</h5>
        <form method="post">
          {% csrf_token %}
          
          {% for s in sizeobj %}
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="brand-{{ s.id }}" name="size" value="{{ s.id }}">
            <label class="custom-control-label" for="brand-{{ s.id }}">{{ s.size }}</label>
          </div>
          {% endfor %}
          <button type="submit" hidden>Submit</button> 
        </form>
      </div>
    </div>

    
    <div class="col-md-10">
      <div class="row px-xl-5 pb-5">
      <div class="card-deck">
        {% for variant in variants %}
        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
          <div class="card product-item border-0 mb-4">
            <a href="{% url 'variant_detail' product_id=product.id variant_id=variant.id %}">
              <img src="{{ variant.image1.url }}" alt="" class="card-img-top" style="height: 400px">
            </a>
            <div class="card-body">
              <p class="card-title">{{ variant.variant }}</p>
              <p class="card-text">Color: {{ variant.Color.color }}</p>
              <p class="card-text">Size: {{ variant.Size.size }}</p>
              <p class="card-text">Price: {{ variant.price }}</p> 
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    


  </div>
</div>
{% endblock main-content %}
