
            
{% extends 'admin_home.html' %}
{% load static %}
<title>quantity report</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



{% block content %}
<div class="container">
    <h1>Quantity Report</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Variant Name</th>
                <th>Total Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for variant in variants %}
            <tr>
                <td>{{ variant.variant }}</td>
                <td>{{ variant.total_quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'stockreport' %}" method="POST">
        {% csrf_token %}
        <button name="download" type="submit" class="btn add-product-btn btn-secondary mt-2 ml-4">Download</button>
    </form>
</div>
{% endblock %}
       