{% extends 'user_home.html' %}
{% load static %}
{% block tittle%} Products {% endblock tittle %}
{% block nav%}<div class="col-lg-12">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="shop.html" class="nav-item nav-link">Shop</a>
                <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                        <a href="checkout.html" class="dropdown-item">Checkout</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
            <div class="navbar-nav ml-auto py-0">
                <a href="" class="nav-item nav-link">Login</a>
                <a href="" class="nav-item nav-link">Register</a>
            </div>
        </div>
    </nav>{% endblock nav%}

{% block main-content%} 

<body>


        <!-- Page Header Start -->
        <div class="container-fluid bg-secondary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
                <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
                <div class="d-inline-flex">
                </div>
            </div>
        </div>
        <!-- Page Header End -->
    
    <!-- Shop Start -->
<div class="container-fluid pt-5">
<div class="row px-xl-5">

{% for product in products %}
<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
    <div class="card product-item border-0 mb-4">
        <a href="{% url 'product_detail' product.id %}" >
            <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
            <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-sm text-dark p-0"></a>
            <h6 class="text-truncate mb-2 mt-2">{{ product.name }}</h6>
        
    </div>
</div>

{% endfor %}


        </div>
        
    </div>
    {% endblock main-content%}
    <!-- Shop End -->


    {% block content%} {% endblock content%}