{% extends 'user_product.html' %}
{% load static %}
{% block tittle%} variant {% endblock tittle %}

{% block main-content%}

<div class="col-lg-3 col-md-5 col-sm-12 pb-1">
<div class="variant-item card">
    <img src="{{ variant.image1.url  }}" alt="" class="img-fluid">
    <div class="card-footer d-flex justify-content-between bg-light border">

        
        <form action="{% url 'add-to-cart' %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type = "hidden" name="variant_id" value="{{ variant.id }}">
            <button type="submit" class="btn btn-primary px-5 py-2"><i class="fas fa-shopping-cart"></i></button>
        </form>


        <form action="{% url 'add_to_wishlist'   %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type = "hidden" name="variant_id" value="{{ variant.id }}">
        <button type="submit" class="btn btn-dark px-5 py-2"><i class="fas fa-heart"></i></button>
        </form>


    </div>
    <div class="card-body">
        <p class="card-text"> {{ variant.variant }}</p>
        <p class="card-text">Color: {{ variant.Color.color }}</p>
        <p class="card-text">Size: {{ variant.Size.size }}</p>
        <p class="card-text">Price: {{ variant.price }}</p>
    </div>
</div>
</div>

    

{% endblock main-content%}