{% extends 'product_detail.html' %}
{% load static %}
{% block tittle%} variant {% endblock tittle %}
{% block nav%}<div class="col-lg-12">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="shop.html" class="nav-item nav-link">Shop</a>
                <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                        <a href="checkout.html" class="dropdown-item">Checkout</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
            <div class="navbar-nav ml-auto py-0">
                <a href="" class="nav-item nav-link">Login</a>
                <a href="" class="nav-item nav-link">Register</a>
            </div>
        </div>
    </nav>{% endblock nav%}



{% block main-content%}

<div class="col-lg-3 col-md-5 col-sm-12 pb-1">
<div class="variant-item card">
    <img src="{{ variant.image1.url  }}" alt="" class="img-fluid">
    <div class="card-footer d-flex justify-content-between bg-light border">
        <form action="{% url 'add-to-cart' %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input name="variant_id" value="{{ variant.id }}">
            <button type="submit" class="btn btn-primary px-5 py-2">Add to Cart</button>
        </form>
    </div>
    <div class="card-body">
        <p class="card-text"> {{ variant.variant }}</p>
        <p class="card-text">Color: {{ variant.Color.color }}</p>
        <p class="card-text">Size: {{ variant.Size.size }}</p>
        <p class="card-text">Price: {{ variant.price }}</p>
    </div>
</div>
</div>

    

{% endblock main-content%}